@charset "utf-8";

:root {
    --app-border-radius: 5px;
    --app-grey-bg: #f3f4f5;
    --app-bg-dark: #003839;
}
body {
    background-color: var(--app-bg-dark);
}
.container {
    width: min(100% - 30px, 1200px);
    margin-inline: auto;
}